@import "modules/globals"

.categories
  .cgs-icon
    background-image: url("/images/menu/category_48x.svg")
  .cgs-category-list
    text-align: center
    padding-bottom: 20px
    .cgs-ca-icon
      display: inline-block
      color: $c_grey
      padding: 0 12px
      cursor: pointer
      .cgs-ca-text
        padding-top: 8px
      &.selected
        .cgs-ca-text
          color: $c_black
