@import "modules/globals"

$home_trademark_s: 120px

.home
  .hm-title
    margin: 40px 0 20px
    text-align: center
    .ht-text
      display: inline-block
      padding: 8px
      border-bottom: 2px solid
      h1
        font-size: $fs_xxl
  .hm-trademark
    text-align: center
    color: $c_grey
    margin: 20px 0px
    .tm-icon
      margin: auto
      height: $home_trademark_s
      width: $home_trademark_s
      vertical-align: middle
      background: url("/images/header/trademark_l_120x.svg")
    .tm-title
      font-size: $fs_xl
    .tm-subtitle
      margin-top: 6px
      font-size: $fs_m
      font-family: $ff_serif
  .hm-readmore
    margin-top: 16px
    text-align: center
    .hr-text
      display: inline-block
      text-decoration: none
      border: 2px solid
      border-radius: 5px
      padding: 8px
      &:hover
        background: $c_ll
