@import "compass/typography/vertical_rhythm"
@import "modules/header_style"
@import "modules/globals"

$base-font-size: $fs_def
$base-line-height: $lh_def

.post
  .pt-header
    padding-bottom: 20px
    .pt-title
      font-size: $fs_xxl
      padding: 8px 0 20px
      line-height: $fs_xxxxl
    .pt-info
      display: flex
      flex-direction: row
      justify-content: flex-end
      align-items: center
      .pt-tags
        order: 1
        flex: 1 1 auto
        text-align: right
      .pt-category
        order: 2
        flex: 0 0 auto
    .pt-datetime
      margin-bottom: 12px
      padding-bottom: 3px
      color: $c_l
      font-size: $fs_l
      font-family: $ff_mono
  .pt-content
    h1
      +margin-leader(.5)
      +margin-trailer(.5)
      +adjust-font-size-to($fs_xxl)
      +header-style
      &:before
        +header-point($fs_xxl)
    h2
      +margin-leader(.25)
      +margin-trailer(.25)
      +adjust-font-size-to($fs_l)
      +header-style
      &:before
        +header-point($fs_l)

    h3, h4, h5, h6
      +adjust-font-size-to($fs_ml)
      +header-style
      &:before
        +header-point($fs_ml)
    p
      +adjust-font-size-to($fs_def)

    pre
      +margin-leader(.2)
      +margin-trailer(.2)
      font-family: monospace
      +single-box-shadow(0px, 0px, 10px, 0px, $c_l)

    code
      display: inline-block
      font-family: monospace
      +adjust-font-size-to($fs_def)
      padding: 0px 0.5em

    pre
      code
        display: block
        overflow-x: auto
        &::selection
          background: $c_selected
        &::-moz-selection
          background: $c_selected
    table
      border: 1px $c_black solid
      +margin-leader(.5)
      +margin-trailer(.5)
      tr
        &:hover
          background: $c_ll
      @mixin cell
        border: 1px $c_black solid
        +adjust-font-size-to($fs_def)
        padding: 0px 8px
      td
        +cell
      th
        +cell
        font-weight: bold
        background: $c_ll

    .table-block
      table
        border-collapse: separate
        border-spacing: 2px
        border: none
        td
          border: 1px $c_black solid
        td.tb-hidden
          border: 1px $c_white solid
        table
          margin: 0px
    .hljs
      &::selection
        background: $c_selected
      &::-moz-selection
        background: $c_selected
      span
        &::selection
          background: $c_selected
        &::-moz-selection
          background: $c_selected
    a
      color: $c_d
      padding: 0px 3px

    li
      +adjust-font-size-to($fs_def)
      &:before
        content: "_"
        +header-point($fs_s)

    strong
      font-weight: bold

    i
      font-style: italic

    .rwd-table
      overflow-x: auto
