@import "modules/globals"

$desktop_p: 30%
$mobile_p: 8px
$panel_h: 108px
$simple_panel_h: 66px
$page_bp: 8px
$toc_h: 150px

.layout
  .lo-page
    padding: 0 $mobile_p ($panel_h + $page_bp)
    &.lo-simple
      padding: 0 $mobile_p ($simple_panel_h + $page_bp)
  .lo-ctrl-panel
    position: fixed
    height: $panel_h
    padding: 0 $mobile_p
    bottom: 0
    left: 0
    right: 0
    background: $c_white
    &.lo-simple
      height: $simple_panel_h
  .lo-toc
    overflow-y: auto
    display: none
    border: 1px solid
  &.lo-toc-on
    .lo-page
      &.lo-simple
        padding: 0 $mobile_p ($simple_panel_h + $page_bp + $toc_h)
    .lo-ctrl-panel
      &.lo-simple
        height: $toc_h + $simple_panel_h
      .lo-toc
        display: block
        height: $toc_h
@media only screen and (min-device-width : $tablet_w)
  .layout
    .lo-page
      padding: 0 $desktop_p ($panel_h + $page_bp)
      &.lo-simple
        padding: 0 $desktop_p ($simple_panel_h + $page_bp)
    .lo-ctrl-panel
      padding: 0 $desktop_p
    &.lo-toc-on
      .lo-page
        &.lo-simple
          padding: 0 $desktop_p ($simple_panel_h + $page_bp + $toc_h)
