@import "modules/globals"

$list_p: 8px
$item_p: 8px
$weblink_s: 16px

.post-list
  .pl-entry
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    padding: $list_p 0
    .pl-ca
      order: 1
      flex: 0 0 auto
    .pl-content
      order: 2
      flex: 1 1 auto
      .pl-name
        padding-bottom: $item_p
        .pl-draft
          display: inline-block
          padding: 5px 3px
          margin: 0 3px
          border: 1px dashed
        a.pl-website
          img
            vertical-align: middle
            height: $weblink_s
            width: $weblink_s
      .pl-time
        padding-bottom: $item_p/2
        color: $c_grey
