@import "modules/globals"

$list_m: 8px
$text_p: 6px
$tag_r: 5px

.tag-list
  .tl-entry
    margin: $list_p 0
    background: $c_d
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: stretch
    border-radius: $tag_r
    .tl-name
      order: 1
      padding: 0px $text_p
      line-height: 2em
      .tl-link
        color: $c_white
        cursor: pointer
        text-decoration: none
        &:hover
          color: $c_ll
    .tl-bar
      order: 2
      color: $c_d
      border-radius: 0 $tag_r $tag_r 0
      background: $c_white
      border: 2px $c_d solid
      padding: 0px $text_p
      text-align: right
      line-height: 2em
